#sidebar {
    color: #fff;
    /*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);*/
    /** To edit this background, follow this link:
    http://svgeneration.com/generate/GPlay?height=4&width=4&background=25365f&overlay=32477d&weight=10&padding=0.25&
    */
    background-color: $sidebar-color;
}

#sidebar a {
    color: #fff;

    &:focus,
    &:hover {
        text-decoration: underline;
        color: $link-hover-color;
    }
}

#sidebar header {
    top: auto;
    margin: 2em 0.8em;
    text-align: left;
}

#sidebar h1 {
    font-size: 1.8em;
    line-height: 1.1;
    margin-bottom: 0.2em;
}

#sidebar h2 {
    margin-top: 0;
    font-weight: 250;
    font-style: normal;
}

#sidebar .minibio {
    font-family: $sans-font-family;
    font-size: 0.9em;
    line-height: 1.3;
    color: $sidebar-light;
}

#sidebar nav {
    margin-top: 2em;
}

#sidebar nav ul {
    padding-left: 0;
}

#sidebar nav li {
    display: inline-block;
    white-space: nowrap;
    margin: 0 1.25em 0.2em 0;
    font-size: 1em;
    font-weight: 600;

    a {
        font-weight: 600;
    }
}

#sidebar nav li:last-child:after {
    /* content: ""; */
    margin: 0;
}
