<section class="list archive">
    <h1 class="title">
        {{- .Title -}}
    </h1>
    {{ .Content }}
    
    {{ $prev_year := 3000 }}
    {{ range .Pages }}
        {{ if .Date }}
        {{ if gt $prev_year (.Date.Format "2006") }}
        {{ if ne $prev_year 3000 }}
        </ul>
        {{ end }}
        <div class="pure-g">
            <div class="year pure-u-1 pure-u-md-1-6"></div>
            <div class="year pure-u-1 pure-u-md-5-6">
                <h2>{{ .Date.Format "2006" }}</h2>
            </div>
        </div>
        <ul>
        {{ end }}
        <li>
            <div class="pure-g">
                <div class="date pure-u-1 pure-u-md-1-6">
                    <p>{{ .Date.Format ("January 2" ) }}</p>
                </div>
                <div class="post-details pure-u-1 pure-u-md-5-6">
                    <p class="title"><a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a></p>
                    {{ with .Params.description }}<p class="excerpt">{{ . | markdownify }}</p>{{ end }}
                    
                </div>
            </div>  
        </li>
        {{ $prev_year = .Date.Format "2006" }}
        {{ end }}
    {{ end }}
    </ul>
</section>
