<section>
    <article class="content-single">
        <header class="post-header">
            <h1 class="post-title">{{ .Title | markdownify }}</h1>

            <div class="post-meta pure-g">
                <div class="pure-u-1-2">
                    <span class="posted-on">
                        <i class="far fa-calendar-alt" aria-hidden="true"></i>
                        <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                            {{ .Date.Format (.Site.Params.blogPostDateFormat | default "January 2, 2006" ) }}
                        </time>
                    </span>
                </div>
                <div class="reading-time pure-u-1-2">
                    <i class="far fa-clock" aria-hidden="true"></i>
                    {{ i18n "reading_time" .ReadingTime }}
                </div>
            </div>
        </header>
    
        {{ .Content }}
    
        <footer>
            {{ with .Page.Params.Tags }}{{ partial "post-tags.html" . }}{{ end }}
        </footer>

        <div id="comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'andrewheisscom';
                var disqus_title = document.title;
                var disqus_url = '{{.Permalink}}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
                    Disqus.</a></noscript>
        </div>
    </article>
</section>
