{{- if or (.Params.math) (.Site.Params.math) -}}
<!-- See https://bookdown.org/yihui/blogdown/templates.html#how-to for why this math-code.js is necessary -->
{{ $script := resources.Get "js/math-code.js" }}
<script src="{{ $script.RelPermalink }}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js"></script>
<script>
    MathJax = {
        tex: {
            inlineMath: [
                ['$', '$'], ['\\(', '\\)']
            ],
            processEscapes: true,
            processEnvironments: true
        },
        options: {
            skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
    };
</script>
{{- end -}}
